.recommendations-banner {
  width: 100%;
  height: 200px;
  background-color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.recommendations-banner h2 {
  font-size: 18px;
}

.recommendations-banner p {
  font-size: 11px;
}